<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
		<title>IMDB API</title>

		<meta name="description" content="">
		<meta name="viewport" content="width=device-width">
		
		<link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
		<link href="//netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap.min.css" rel="stylesheet">
		
		<style type="text/css" media="screen">
			.hidden {
				display: none;
				visibility: hidden;
			}

			ul {
				list-style-type: none;
			}

			ng-cloak: {
				display: none !important;
			}
		</style>
	</head>
	<body ng-app>
		{% raw %}
		<div class="container" ng-controller="AppCtrl">
			<h1>Simple IMDb API</h1>
			<p>
				<a href="/tt1446714" target="_blank">http://imdb-api.herokuapp.com/tt1446714</a>
			</p>

			<form class="row" ng-submit="search()">
				<div class="col-xs-3">
					<div class="input-group">
						<input class="form-control" type="text" ng-model="imdbId" placeholder="tt1446714">
						<span class="input-group-btn">
							<button class="btn btn-primary" type="submit">Search</button>
						</span>
					</div>
				</div>
			</form>

			<img src="static/img/loading.gif" ng-show="loading">
			<div ng-show="movie" ng-cloak>
				<h3>{{ movie.title }}</h3>
				<div class="row">
					<div class="col-xs-2">
						<img ng-src="{{ movie.poster }}" class="img-rounded" width="150">
					</div>
					<ul class="col-xs-4">
						<li><strong>Genres:</strong>
							<ul>
								<li ng-repeat="genre in movie.genres">{{ genre }}</li>
							</ul>
						</li>
						<li><strong>Rating</strong>: {{ movie.vote_average }} ({{ movie.vote_count }} votes)</li>
						<li><strong>Release date</strong>: {{ movie.release_date }}</li>
						<li><strong>Plot summary</strong>:</li>
						<li>{{ movie.plot_summary }}</li>
					</ul>
				</div>
			</div>
			
		</div>
		{% endraw %}

		<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.16/angular.min.js"></script>
		<script>
			function AppCtrl($scope, $http) {
				$scope.search = function() {
					$scope.loading = true;

					var imdbId = $scope.imdbId.match(/tt[\d]{7}/);

					if (imdbId) {
						var movie = $http.get('/' + imdbId[0]);

						movie.success(function(response) {
							$scope.loading = false;
							$scope.movie = response;
						});

						movie.error(function(response) {
							$scope.loading = false;
							console.log(response);
						});
					}
				};
			}
		</script>
	</body>
</html>
