<!DOCTYPE html>
<html ng-app>
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
		<title>IMDB API</title>
		<meta name="description" content="">
		<meta name="viewport" content="width=device-width">
		<link href="/static/css/vendor/bootstrap.min.css" rel="stylesheet">
		<style type="text/css" media="screen">
			.hidden {
				display: none;
				visibility: hidden;
			}

			ul.details {
				margin-left: 120px;
				list-style-type: none;
			}

			ul ul {
				list-style-type: none;
			}
		</style>
	</head>
	<body>
		{% raw %}
		<div class="container" ng-controller="AppCtrl">
			<h1>Simple IMDb API</h1>
			<p><a href="/search/tt1446714" target="_blank">http://imdb-api.herokuapp.com/search/tt1446714</a></p>

			<form class="input-append" ng-submit="search()">
				<input class="span2" type="text" ng-model="imdbId" placeholder="tt1446714">
				<button class="btn" type="submit">Search</button>
			</form>

			<img src="static/img/loading.gif" ng-class="{ hidden: !loading }" class="hidden">
			<div ng-class="{ hidden: !movie }" class="hidden">
				<h3>{{ movie.title }}</h3>
				<img ng-src="{{ movie.poster }}" class="img-rounded pull-left" width="100">
				<ul class="details">
					<li><strong>Genres:</strong>
						<ul>
							<li ng-repeat="genre in movie.genres">{{ genre }}</li>
						</ul>
					</li>
					<li><strong>Rating</strong>: {{ movie.vote_average}} ({{ movie.vote_count }} votes)</li>
					<li><strong>Release date</strong>: {{ movie.release_date }}</li>
					<li><strong>Plot summary</strong>:</li>
					<li>{{ movie.overview }}</li>
				</ul>
			</div>
		</div>
		{% endraw %}

		<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.0.3/angular.min.js"></script>
		<script src="/static/js/app.js"></script>

		<script>
			var _gaq=[['_setAccount','UA-34240614-1'],['_trackPageview']];
			(function(d,t){var g=d.createElement(t),s=d.getElementsByTagName(t)[0];
			g.src=('https:'==location.protocol?'//ssl':'//www')+'.google-analytics.com/ga.js';
			s.parentNode.insertBefore(g,s)}(document,'script'));
		</script>
	</body>
</html>
